@charset "UTF-8";

.title {
  margin: auto;
}

.nav {
  border-bottom: 1px #0b08bb solid;
  border-top: 1px #0b08bb solid;
  margin: auto;
}

.goal-description {
  padding: 4px 2px;
}

.goal-description div {
  padding: 2px;
  border-radius: 10px;
  height: 4.5em;
  margin: auto;
}

.goal-items div {
  padding: 4px 2px;
  margin: auto;
}

.goal-items div div {
  padding: 2px;
  border-radius: 10px;
  height: 3.5em;
  margin-left: 5px;
  margin-right: 5px;
}

.fc-daygrid-day-top {
  padding: 0 10px;
}

/* 日曜日 */

.fc-day-sun {
  color: red;
  background-color: #f7d7d7;
  padding: 0 0 0 40px;
}

/* 土曜日 */

.fc-day-sat {
  color: blue;
  background-color: #cbcbf1;
  padding: 0 20px;
}

#calendar {
  display: grid;
  margin: auto;
  max-width: 1000px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-rows: 300px 300px;
}

.item {
  background: #0bd;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.tbl-task {
  margin: auto;
}

table th,
table td {
  border: solid 1px black;
}

.tbl-task td:first-child {
  background: lightpink;
}

@media screen and (max-width: 640px) {
  .tbl-task {
    width: 80%;
  }

  .tbl-task .thead {
    display: none;
  }

  .tbl-task tr {
    width: 100%;
  }

  .tbl-task td {
    display: block;
    text-align: right;
    width: 100%;
  }

  .tbl-task td:first-child {
    background: lightpink;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }

  .tbl-task td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
}

div {
  text-align: center;
}

.support {
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  table-layout: fixed;
  width: 100%;
}

.myaccount {
  margin: auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

